.slick-initialized .slick-slide {
  padding-left: 20px;
  padding-right: 20px;
}

.slick-initialized .slick-slide .partner-container {
  box-shadow: 1px 1px 10px #D2E4EA;
}

.slick-track {
    padding-bottom: 10px;
}